html,
body {
  font-family: "Noto Sans JP", sans-serif !important;
  background-color: #ffffff;
  height: 100%;
}

html {
  height: 100%;
}

body {
  min-height: 100%;
}

header {
  text-align: center;
  background-color: #252422;
  width: 100%;
  margin: 0;
  max-height: 100px;
  z-index: 100;
  font-size: 38px;
  position: fixed;
  left: 0;
  top: 0;
}
header h1 {
  margin: 0;
  padding: 0;
  color: #f25e20;
}

main {
  width: 100%;
  position: relative;
  height: 70vh;
  float: left;
}
main .filters {
  min-width: 300px;
  background-color: #403d38;
  top: 88px;
  left: 0;
  color: #f25e20;
}
main .filters .filter-wrapper {
  font-size: 20px;
}
main .filters .filter-wrapper h2 {
  text-align: center;
  padding-top: 0;
  margin: 10px 0 0 0;
}
main .filters .filter-wrapper .from-to {
  margin: 10px 0;
  max-width: 100%;
}
main .filters .filter-wrapper .from-to input {
  max-width: 60px;
  border-radius: 10px;
  border: 0px;
  background-color: #ccc8bc;
  text-align: center;
}
main .filters .filter-wrapper select {
  float: right;
  border-radius: 10px;
  background-color: #ccc8bc;
  width: 150px;
}
main .filters .filter-wrapper div[class=text] {
  float: right;
}
main .filters .filter-wrapper div[class=text] b {
  margin-left: 15px;
  margin-right: 25px;
}
main .filters .filter-wrapper div[class=characteristics] {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-left: 10px;
}
main .filters .filter-wrapper div[class=characteristics] input[type=number] {
  border: 0px;
  width: 70px;
  height: 22px;
  border-radius: 10px;
  background-color: #ccc8bc;
  padding: 10px;
  margin-left: 3px;
  margin-bottom: 3px;
}
main .card {
  margin-top: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  border-radius: 30px;
  padding: 10px;
}
main .card b {
  font-size: 20px;
}
main .card a {
  font-size: 16px;
  color: black;
}

footer {
  background-color: #ccc6ba;
  position: relative;
  float: left;
  bottom: 0;
  right: 0;
  width: 100%;
  min-height: 50px;
  color: #fbf5e9;
  text-align: right;
  font-size: 30px;
}
footer .footer-text {
  padding: 5px;
  padding-right: 15px;
}

.result {
  padding-left: 45px;
  padding-left: 70px;
}

.divs {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
}

.error-main-text {
  color: #f25e20;
  font-weight: 900;
  font-size: 10rem;
}

.btn-outline-orange {
  color: #f25e20;
  border-color: #f25e20;
}

.btn-outline-orange:hover {
  background-color: #f25e20;
  color: #ffffff;
}

.w-0 {
  width: 0% !important;
}

.h-0 {
  height: 0% !important;
}

.w-10 {
  width: 10% !important;
}

.h-10 {
  height: 10% !important;
}

.w-20 {
  width: 20% !important;
}

.h-20 {
  height: 20% !important;
}

.w-30 {
  width: 30% !important;
}

.h-30 {
  height: 30% !important;
}

.w-40 {
  width: 40% !important;
}

.h-40 {
  height: 40% !important;
}

.w-50 {
  width: 50% !important;
}

.h-50 {
  height: 50% !important;
}

.w-60 {
  width: 60% !important;
}

.h-60 {
  height: 60% !important;
}

.w-70 {
  width: 70% !important;
}

.h-70 {
  height: 70% !important;
}

.w-80 {
  width: 80% !important;
}

.h-80 {
  height: 80% !important;
}

.w-90 {
  width: 90% !important;
}

.h-90 {
  height: 90% !important;
}

.w-100 {
  width: 100% !important;
}

.h-100 {
  height: 100% !important;
}

.fs-1 {
  font-size: 1rem !important;
}

.fs-2 {
  font-size: 2rem !important;
}

.fs-3 {
  font-size: 3rem !important;
}

.fs-4 {
  font-size: 4rem !important;
}

.fs-5 {
  font-size: 5rem !important;
}

.fs-6 {
  font-size: 6rem !important;
}

.fs-7 {
  font-size: 7rem !important;
}

.fs-8 {
  font-size: 8rem !important;
}

.fs-9 {
  font-size: 9rem !important;
}

.fs-10 {
  font-size: 10rem !important;
}

.fs-11 {
  font-size: 11rem !important;
}

.fs-12 {
  font-size: 12rem !important;
}

.fs-13 {
  font-size: 13rem !important;
}

.fs-14 {
  font-size: 14rem !important;
}

.fs-15 {
  font-size: 15rem !important;
}

.align-center {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.loading-icon {
  position: relative;
  display: none;
  width: 10%;
  max-width: 120px;
  max-height: 120px;
}

/*# sourceMappingURL=style.css.map */
