{% extends "base.html" %}
{% block content %}
<div class="container-fluid h-100 w-100">
    <div class="row h-100">
        <div class="col">
            <div class="w-40 px-5 position-relative pb-5 align-center text-center">
                <h1 class="error-main-text my-2">
                    {% block error_code %}{% endblock %}
                </h1>
                <p class="my-2">{% block error_message %}{% endblock %}</p>
                <a class="btn btn-outline-orange my-3" href="{{url_for('main_page')}}">GO HOME</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}