<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../static/style/style.css">
  <title>Document</title>
</head>
<body>
  <header>
    <h1>
      Place And You
    </h1>

  </header>
  <main>
    <div class="filter">
      <div class="filter-wrapper">
        <h2>Price</h2>
        <form action="">
          <div class="from-to">
            <b>From</b>
              <input type="text" placeholder="1">
              <b>to</b>
              <input type="text" placeholder="10000">
          </div>
          <input type="checkbox" name="type" value="rent"> For rent
          <input type="checkbox" name="type" value="sale"> For sale<Br>
          <input type="checkbox" name="type" value="long-term"> For long-term rent<Br>
          <b>State</b>
            <select>
              <option>All states</option>
              <option>Lviv</option>
              <option>Kyiv</option>
              <option>Ternopil</option>
            </select><Br>
            <b>City</b>
            <select>
            <option>All cities</option>
              <option>Lviv</option>
              <option>Kyiv</option>
              <option>Boryslav</option>
            </select><Br>
          <b>Square</b>
          <input type="number"  placeholder="1">
          <br>
          <b>Floor</b>
          <input type="number"  placeholder="1">
          <br>
          <b>Floor<br>numbers</b>
          <input type="number"  placeholder="1">
          <p>
          <b>Realty type</b>
          <select>
            <option>All types</option>
              <option>Garage</option>
              <option>House</option>
              <option>Storage</option>
          </select><Br>
          <p><b>Type of information:</b><Br>
          <input type="checkbox" name="information" value="latest"> Latest<Br>
          </p>
          <p><input type="submit" value="Apply"></p>
        </form>
      </div>
    </div>
    <div class="info">

    </div>
  </main>
  <footer>
    <div class="footer-text">
      Footer
    </div>
  </footer>
</body>
</html>