<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../static/style/style.css">
  <title>Document</title>
</head>
<body>
  <header>
    <h1>
      Place And You
    </h1>

  </header>
  <main>
    <div class="filter">
      <div class="filter-wrapper">
        <h2>Price</h2>
        <form action="{{ url_for('result') }}">
          <div class="from-to">
            <b>From</b>
              <input name="price_from" type="text" placeholder="1">
              <b>to</b>
              <input name="price_to" type="text" placeholder="10000">
          </div>
          <div>
            <input type="radio" name="operation_type" value="rent"> For rent
            <input type="radio" name="operation_type" value="sale"> For sale<Br>
            <input type="radio" name="operation_type" value="long-term"> For long-term rent<Br>
          </div>
            <b>State</b>
            <select name="state">
              <option value = "all_states">All States</option>
              {% for i in states %}
                <option value = {{i.get("id")}}>{{i.get("name")}}</option>
              {% endfor %}}
            </select><Br>
            <!--<b>City</b>
            <select>
            <option>All cities</option>
              <option>Lviv</option>
              <option>Kyiv</option>
              <option>Boryslav</option>
            </select><Br>-->
          <b>Square</b>
          <input type="number" name="square" placeholder="1">
          <br>
          <b>Floor</b>
          <input type="number" name="floor" placeholder="1">
          <br>
          <b>Floor<br>numbers</b>
          <input type="number" name="floor_numbers" placeholder="1">
          <p>
          <b>Realty type</b>
          <select name="realty_type">
              {% for i in realty_types %}
                <option value = {{i.get("id")}}>{{i.get("name")}}</option>
              {% endfor %}}
            </select><Br>
          <p><b>Type of information:</b><Br>
          <input type="checkbox" name="information" value="latest"> Latest<Br>
          </p>
          <p><input type="submit" value="Apply"></p>
        </form>
      </div>
    </div>
    <div class="info">

    </div>
  </main>
  <footer>
    <div class="footer-text">
      Footer
    </div>
  </footer>
</body>
</html>