{% extends "base.html" %}
{% block content %}
<div class="container-fluid bg-light h-100">
    <div class="row  h-100">
        <div class="col-md-3 filters m-0 p-0">
            <div class="filter-wrapper px-3 mx-2">
                <form onsubmit="return onSubmit(this)" id="filters" method="POST">
                    <br>
                    <div>
                        <input type="radio" name="operation_type_id" value="1"> For sale<Br>
                        <input type="radio" name="operation_type_id" value="2"> For long-term rent<Br>
                    </div>
                    <div class="my-2s">
                        State
                        <select name="state_id" id="state_select">
                            <option value="all_states">All States</option>
                            {% for i in states %}
                            <option value={{i.get("id")}}>{{i.get("name")}}</option>
                            {% endfor %}}
                        </select>
                    </div>
                    <div id="cities" class="my-2">
                    </div>
                    <br>
                    <br>
                    <div class="text"><b>From</b><b>To</b></div><br>
                    <div class="characteristics">
                        Price
                        <div class="inputs">
                            <input type="number" name="price-ge" placeholder="1" class="square-floors">
                            <input type="number" name="price-le" placeholder="10000" class="square-floors">
                        </div>
                    </div>
                    <div class="characteristics">
                        Square
                        <div class="inputs">
                            <input type="number" name="square-ge" placeholder="1" class="square-floors">
                            <input type="number" name="square-le" placeholder="100" class="square-floors">
                        </div>
                    </div>
                    <div class="characteristics">
                        Floor
                        <div class="inputs">
                            <input type="number" name="floor-ge" placeholder="1" class="square-floors">
                            <input type="number" name="floor-le" placeholder="10" class="square-floors">
                        </div>
                    </div>
                    <div class="characteristics">
                        Floor<br>numbers
                        <div class="inputs">
                            <input type="number" name="floors_number-ge" placeholder="1" class="square-floors">
                            <input type="number" name="floors_number-le" placeholder="10" class="square-floors">
                        </div>
                    </div><br>
                    <p>
                        Realty type
                        <select name="realty_type_id">
                            {% for i in realty_types %}
                            <option value={{i.get("id")}}>{{i.get("name")}}</option>
                            {% endfor %}}
                        </select><Br>
                    </p>
                    <p>Type of information:<Br>
                        <input type="checkbox" id="latest" name="latest" value='true'> Latest<Br>
                    </p>
                    <p><input type="submit" value="Apply"></p>
                </form>
            </div>
        </div>
        <div class="col my-3">
            <img id="loading-icon" src="static/loading-icon.gif"
                    class="align-center loading-icon" alt="Loading"/>
            <div class="container-fluid bg-light h-100" id="results">
                <img id="loader-img" src="static/loading-icon.gif"
                    class="align-center loading-icon" alt="Loading"/>
            </div>
        </div>
    </div>
</div>
{% endblock %}